@import url('bootstrap.min.css');

/*.app {
    background: #cacaca;
    height: 800px;
    margin: 0 auto;
    max-width: 1000px;
    width: 800px;
}

.title__colors {
    font-size: 22px;
    color: darkblue;
}

.list__colors {
    list-style: none;
}*/