{% extends "layout.twig" %}
{% block title %} Jobs {% endblock %}
{% block content %}
  <section class"row">
        <h1>Jobs</h1>
        <div class="alert alert-primary" role="alert">
            {{ responseMessage }}
        </div>
        <table class="table">
          <tr>
            <th>Job title</th>
            <th>Actions</th>
          </tr>
          {% for job in jobs %}
              <tr>
                <td>{{ job.title }}</td>
                {% if( job.deleted_at ) %}
                  <td><a href="/jobs/restore?id={{ job.id }}">Restore</a></td>
                {% else %}
                  <td><a href="/jobs/delete?id={{ job.id }}">Delete</a></td>
                {% endif %}
              </tr>
          {% endfor %}
        </table>
    </section>
{% endblock %}
